*{
  background-color: rgb(149, 214, 190);
}
.container{
  display: flex;
  justify-content: center;
  color: rgb(17, 19, 18);
  margin-left: 5rem;
  margin-top: 10rem;
  font-size: 25px;
}
.my-0{
  margin-left: 9rem;
  margin-top: 3rem;
  font-size: 50px;
  margin-right: 3rem;
}
.btn-incre{
  background-color: green;
  font-size: 25px;
  /* margin-right: 10rem; */
  border-radius: 2rem;
}
.btn-decre{
  background-color: red;
  font-size: 25px;
  /* margin-right: 7rem; */
  border-radius: 2rem;
}
.btn-reject{
  background-color: gray;
  font-size: 25px;
  /* margin-right:3rem; */
  border-radius: 2rem;
}
.App{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  /* color: rgb(66, 194, 130); */

}